*{
    margin : 0 auto ;
}
li{
    list-style: none;
}
a{
    display:block;
}

#logo{
    width:200px;    
}

#quick{
    position:absolute;
    margin-right: 0px;
    // animation-duration: 2s;
    // animation-name: quick_margin;
 
}


@keyframes quick_margin{ 
    
    from{
        margin-left:-100px;
    }

    to{
        margin-left:0px;
    }
}

@keyframes slidein {
    from {
      margin-left: 0%;
     
    }
  
    to {
      margin-left: 100%;
     
    }
  }


#Main_1{
    width: 1920px;
    height: 720px;
    background-color: blueviolet;
 
    
}

#mainCard{
    display: flex;
    position: relative;
    width:1920px;
    height: 720px;
    background-color: sandybrown;
    div{
        margin: 0 auto;
    }
}
#footBox{
    display:flex;
    font-size: 1.5em;
    border: 2px solid black;
    align-items: center;
}
#footer_1{
   
        text-align: center;
    
}


#Main_2{ 
    align-items: center;
}

#m{
    width: 250px;
    height: 300px;
    background-color: aqua;
}




  