* {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.p-2 {
  padding: 2px;
}

#logo {
  width: 200px;
}

#quick {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

@-webkit-keyframes quick_margin {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes quick_margin {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.wrap {
  width: 1920px;
  border: 2px solid brown;
}

#Main_1 {
  width: 1320px;
  height: 720px;
  background-color: blueviolet;
}

#mainCard {
  width: 1920px;
  background-color: sandybrown;
}

#mainCard div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainCard .modal-dialog {
  max-width: none;
}

.cardBox {
  width: 400px;
  height: 250px;
}

#footBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  border: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer_1 {
  text-align: center;
}

#Main_2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Modal_1 {
  width: 250px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
}

#Modal_2 {
  color: black;
}

#quick .dropup .dropdown-toggle {
  position: relative;
  width: 75px;
  height: 100px;
  background: url("/img/Qbefore.svg") white;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: none;
  z-index: 10000;
}

#quick .dropup .dropdown-toggle.show {
  background: url("/img/Qafter.svg") white;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: none !important;
}

#quick .dropup button {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#quick .dropup button::after {
  display: none;
}

#quick .dropup .dropdown-item {
  width: 100%;
}

#quick .dropup ul.dropdown-menu.quickbox {
  min-width: 50px;
  background-color: transparent;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 0;
}

#quick .dropup ul.dropdown-menu.quickbox li {
  padding: 0;
  height: 70px;
}

#quick .dropup .quickbox .show {
  -webkit-transition: 1s;
  transition: 1s;
  min-width: 80px;
}

.kakao, .Tistory, .github {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 100px;
}

.kakao {
  background: url("/img/kakao.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Tistory {
  background: url("/img/tistory.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.github {
  background: url("/img/github.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#swiperwrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiperwrap #swiperbox {
  width: 100%;
}

#swiperwrap #swiperbox .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: none;
          transform: none;
  all: unset;
}

#swiperwrap #swiperbox .swiper-wrapper .swiper-slide {
  width: 100% !important;
  text-align: center;
  margin: 0 auto;
  padding: 10%;
}

#swiperwrap #swipertext {
  width: 80%;
  height: 100%;
  color: lightseagreen;
  border: 3px dashed gray;
}

#swiperwrap #swipertext .swipertextbox {
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiperwrap #swipertext .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#swiperwrap #swipertext .swiper-slide ul {
  padding: 10%;
}

#swiperwrap #swipertext .swiper-slide ul li {
  border: 2px solid;
  padding: 10%;
}

#exampleModal1 .modal-content {
  width: 1500px;
}

#exampleModal1 .modal-body {
  width: 100%;
}
