* {
  margin: 0 auto;
}

a {
  display: block;
}

#logo {
  width: 200px;
}

#quick {
  position: absolute;
  margin-left: 0px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: quick_margin;
          animation-name: quick_margin;
}

@-webkit-keyframes quick_margin {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes quick_margin {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

#main_1 {
  width: 1920px;
  height: 720px;
  background-color: blueviolet;
  background-image: url();
}
